<h1>Admin Page</h1>

<p>You are logged in as TODO: Put session user here</p>

<p>TODO: Make these be links to the resource controller pages</p>
<%= link_to 'View items', items_path %><br />
<%= link_to 'View users', users_path %><br />
View transactions<br />
